@model IEnumerable<Sonatto.Models.Produto>

@if (Model != null && Model.Any())
{
    foreach (var produto in Model)
    {
        <a asp-controller="Produto" asp-action="Produto" asp-route-id="@produto.IdProduto"
           method="get" class="exibicaoCard" style="text-decoration: none; color: black;"
           data-avaliacao="@produto.Avaliacao.ToString("F1", System.Globalization.CultureInfo.InvariantCulture)">
            <img src="@produto.UrlImagens[0]" class="exibicaoCardimg" />
            <p class="cardNome">
                @(produto.NomeProduto.Length > 25 ? produto.NomeProduto.Substring(0, 25) + "..." : produto.NomeProduto)
            </p>
            <div class="cardNotas">
                <div class="rating-container">
                    <span class="star"></span>
                    <span class="star"></span>
                    <span class="star"></span>
                    <span class="star"></span>
                    <span class="star"></span>
                    <p class="cardNotasNota"><span>@produto.Avaliacao</span>/5</p>
                </div>
                <div class="cardPreco">
                    <strong>R$ @produto.Preco</strong>
                </div>
            </div>
        </a>
    }
}
else
{
    <p>Nenhum produto encontrado.</p>
}
